<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Elnogara_Firstblock>
            <version>1.0.0</version>
        </Elnogara_Firstblock>
    </modules>
	<global>
		<blocks>
      		<elnogara_firstblock>
				<class>Elnogara_Firstblock_Block</class>
	 		</elnogara_firstblock>
	    </blocks>
	</global>
    <frontend>
        <layout>
            <updates>
                <elnogara_firstblock>
                    <file>elnogara_firstblock.xml</file>
                </elnogara_firstblock>
            </updates>
        </layout>
    </frontend>
</config>
